/*
Estilos generales CSS
*/

  .menu-bar-generals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.453);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden;
    position: fixed;
    top: 0;
  }

  .menu-1 {
    text-align: center;
  }

  .menu {
    text-align: center;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.453);
    position: fixed;
    /* display: inline-block; */
    margin: 0 auto;
  }
  
  body {
    background-color: black;
  }

  
  .menu-bar-text {
    display: block;
    color: white;
    padding: 14px 16px;
  }

  .menu-item-bt{
    float: right;
  }

  .en-button {
    background-color: white;
    color: black;
    height: 5%;
    width: 5%;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20;
    margin-right: auto;
  }

  .section {
    background-color: black;
    color: white;
    border-top: 1px solid red;
  }
  
  #section1 {
    background-image: url('../IMG/1169017.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .box {
    background-color: rgba(238, 232, 232, 0);
    position: relative;
    float: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    color: #fff;
    z-index: 10;
  }

  .social-icon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(14, 14, 14, 0.686);
    border-radius: 20px;
  }

  .item-bx {
    list-style-type: none;
    margin:0px;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(12, 12, 12, 0.607);
    border-radius: 20px;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }