/*
Estilos generales CSS
*/

  
  /* main body of the page */
  
  body {
    background-color: 
    rgb(0, 0, 0);
  }

/* MENU BAR */

  .menu-bar-generals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.453);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden;
    position: fixed;
    top: 0;
  }

  .menu-1 {
    text-align: center;
  }

  .menu {
    text-align: center;
    border-radius: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.453);
    margin: 0 auto;
  }
  
  .menu-bar-text {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu-list-text {
    float:left;
    list-style-type: none;
  }

  .menu-item-bt{
    float: right;
  }

  .en-button {
    --color: #ffffff;
    padding: 0.5em 1.2em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 200;
    font-size: 15px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
  }

  .en-button::before, .en-button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }

   .en-button::before {
    top: -1em;
    left: -1em;
   }
   
   .en-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .en-button:hover::before, .en-button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .en-button:hover {
    color: rgb(0, 0, 0);
   }
   
   .en-button:active {
    filter: brightness(.8);
   }
   
/* DEFAULT SECTION SETTINGS */

  .section {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-top: 1px solid red;
    justify-content: center;
    align-items: center;
    display: block;
  }
  
/* SECTION 1 SETTINGS */ 

  #section1 {
    background-image: url('../IMG/1169017.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .box {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    float: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    color: #fff;
    z-index: 10;
  }

  .social-icon {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(14, 14, 14, 0.686);
    border-radius: 20px;
  }

  .socials-list-text-1 {
    float:left;
  }

  .socials-list-text {
    float:left;
    margin-left: 15px;
  }

  .item-bx {
    list-style-type: none;
    margin:0px;
    padding: 20px;
    overflow: hidden;
  }

/* SECTION 2 SETTINGS */

  .cv-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec-2-ti {
    text-align: center;
    color: rgb(255, 0, 0)
  }

  .about-sec-2 {
    display: flex;
  }

  .img-sec-2 {
    display:block;
    margin-left: 30px;
    margin-right: auto;
    border: 8px solid rgb(255, 0, 0);
    width: 400px;
    height: 250px;
  }

  .text-sec-2 {
    display: block;
    margin-left: 30px;
    margin-right: 60%;
    margin-right: auto;
    color: rgb(255, 0, 0);
    text-align: left;
  }

  .text-sec-2-p {
    display: block;
    margin-left: 30px;
    margin-right: 200px;
    color: rgb(255, 255, 255);
    text-align: left;
  }

  .bt-cv-1 {
    font-family: monospace;
    font-size: 1.5rem;
    color: #fe0202;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fb0202;
    background: #000000;
    box-shadow: 3px 3px #fa0202;
    cursor: pointer;
    margin: 35px 0;
    text-decoration: none;
  }

  .bt-cv-1:active{
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  .next-sec-img {
    color: #000000;

  }

  .sec-2-items {
    list-style: circle;
    list-style-position: inside;
  }

  .section-2-items-li {
    display: block;
    margin-bottom: 10px;
  }

/* SECTION 3 SETTINGS */

.sec-3-cont {
    display: flex;
    justify-content: space-between;
}

.sec-3-left {
  width: 40%;
  margin-left: 50px;
  margin-bottom: 50px;
}

.sec-3-right {
  width: 40%;
  margin-right: 50px;
}

  .sec-3-sbti {
    text-align: center;
    color: rgb(255, 0, 0);
  }

  .sec-3-item-sbti {
    color: rgb(255, 255, 255);
  }

  .progress-bar-sec-3-div {
    display: block;
    margin: 10px 0;
}

.progress-bar-sec-3-div .caption {
    font-weight: 500;
}

.progress-bar-sec-3-el {
    margin-top: 5px;
    height: 1.80rem;
    border: 2px solid #000000;
    background-color: #000000;
    box-shadow: 2px 2px 2px 2px #ff0000;
    color: rgb(0, 0, 0);
}

.progress-bar-sec-3-el,
.progress-bar-sec-3-br {
    border-radius: 30px;
}

.progress-bar-sec-3-br {
    background-color: #fd0303;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
}

/* SECTION 4 GENERALS */


/*SECTION 5 GENERALS */

.powerbi-informe-sec-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inf-bi-sec-5 {
  border-radius: 10px;
  margin-bottom: 50px;
}

.sec-5-cards {
  margin-bottom: 1cm;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateY(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

 .carousel-button {
  margin: auto;
}

.carousel-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.carousel-button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.carousel-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.carousel-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #0004ff;
  box-shadow: 0 0 50px 30px #1900ff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.carousel-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
