/*
Fuentes y tamaños de letras
*/

@font-face {
  font-family: Custom-lancelot;
  src: url('/fonts/Lancelot-Regular.ttf') format(TrueType);
  font-weight: normal; /* Adjust font-weight if needed */
  font-style: normal; /* Adjust font-style if needed */
}

@font-face {
  font-family: 'Custom-oswald';
  src: url('/fonts/Oswald-Bold.ttf') format(TrueType);
  /* Add more src declarations for different file formats if necessary */
  font-weight: normal; /* Adjust font-weight if needed */
  font-style: normal; /* Adjust font-style if needed */
}

@font-face {
  font-family: 'Custom-bebas';
  src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format(TrueType);
  /* Add more src declarations for different file formats if necessary */
  font-weight: normal; /* Adjust font-weight if needed */
  font-style: normal; /* Adjust font-style if needed */
}

@font-face {
  font-family: 'custom-nunito';
  src: url('/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format(TrueType);
  font-weight: normal; /* Adjust font-weight if needed */
  font-style: normal; /* Adjust font-style if needed */
}

@font-face {
  font-family: 'custom-rale';
  src: url('/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')  format(TrueType);
  font-weight: normal; /* Adjust font-weight if needed */
  font-style: normal; /* Adjust font-style if needed */
}


  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 16px;
  }

.menu-bar-text {
  font-family: 'Custom-oswald';
  font-size: 20px;
}

.en-button {
  font-family: 'Custom-oswald';
  font-size: 20px;
}

.sec-2-ti {
  font-family: 'Custom-bebas';
}

.text-sec-2-p {
  font-family: 'custom-nunito';
}

.bt-cv-1 {
  font-family: 'Custom-oswald';
  font-size: 20px;
}

.sec-2-items {
  font-family: 'custom-nunito';
}

.sec-3-sbti {
  font-family: 'custom-rale';
}

.-sec-3-item-sbti {
  font-family: 'custom-rale';
  font-size: 16px;
}

.progress-bar-sec-3-br {
  font-family: 'custom-oswald';
  font-size: 16px;
  color: white;
}




